@use './variables';

:root {
  color: var(--color-text);
  font-family: var(--font-family);
  font-synthesis: none;
  line-height: var(--line-height-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  margin: var(--space-zero);
  min-width: var(--size-page-min);
}

::selection {
  background: var(--color-accent);
  color: var(--color-accent-text);
}

button,
select {
  font: inherit;
}
